<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">
<form action="/user/create_session"method="POST">
    <p><i class="fas fa-user-shield"></i></p>
    <p>
        <a href="/user/auth/google">Sign in/Sign up using google</a>
    </p>
    <input type="email" placeholder="email" name="email" required>
    <input type="password" placeholder="password" name="password" required>
    <input type="submit" value="Sign in">
</form>
